@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="main-text">
        

        <img class="baseMenu" src="~/images/ana-sayfa.jpg" />
        <h1 class="text-sty">It All Started With a Bite</h1>
        <br />
    </div>

    @*    <img class="mainImage" src="~/images/ninja-kaplumb.png" />*@
   

    <a class="btn btn-primary mt-1 button-distance " asp-area="" asp-page="/Pizza">BRİNG ME THAT PİZZA</a>

    @*<button class="btn btn-primary">BRİNG ME THAT PİZZA</button>*@


</div>
