@page
@model RazerPizzeria.Pages.InfoModel
@{
}

<h1 class="display-4 text-decoration-underline text-black">Info</h1>

<p class="smallText text-decoration-line-through text-black">The Best Of Everything</p>
<p class="smallText text-capitalize text-black">Ideal Of Everything</p>
<p class="display-4 text-capitalize text-black">
    Our secret is in our dough

</p>
<p class="smallText"><i>REAL PIZZA TASTE, BAKED IN STONE OVEN</i></p>
<br />
<img class="baseMenu" src="~/images/pizzas/about-subheader.jpg" />